---
layout: page
title: Home - Bacon & Eggs
header: hide
footer: none
---

// Include addtional javascript and/or css resources on a page by page basis by
// uncommenting the two lines below:

// - content_for :css, stylesheet_link_tag("home")
// - content_for :javascript, javascript_include_tag("core")

section.page
	| Test